p {
  font-family: Lato;
}

.blocks {
  padding : 20px;
}

.one {
  background-color: #009688;
}

.two {
  background-color: #3949ab;
}

.three {
  background-color: #9c27b0;
}

.four {
  background-color: #8bc34a;
}

.five {
  background-color: #03a9f4;
}
.six {
  background-color: #c9954e;
}

.seven {
  background-color: #ff5722;
}